body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: justify;
}

header {
    background-color: #0826be;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main {
    padding: 20px;
    background-color: cornsilk;
    height: 100vh;
}

#lyrics {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.highlight1 {
    color: #cb1909; 
    font-weight: bold;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.highlight2 {
    color: #00CED1; 
    font-style: italic;
}

.highlight3 {
    color: #800080;
    text-decoration: underline;
}
